/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    /* colors */
    --clr-dark: hsl(0, 0%, 8%);
    --clr-gray: hsl(0, 0%, 41%);
    --clr-white: hsl(0, 0%, 98%);

    /* font-families */
    --ff-serif: "Epilouge", serif;
}


/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* make images easier to work with */
/* img,
picutre {
    max-width: 100%;
    display: block;
} */

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.d-block {
    display: block;
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

body {
    font-family: Epilogue, sans-serif;
}

/* typography */

.cta {
    padding: 0.5em 1em;
    text-decoration: none;
    font-weight: 600;
    border-radius: 0.5em;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    background-color: var(--clr-dark);
    color: var(--clr-white);
    border: 2px solid var(--clr-dark);
}

.cta:hover {
    background: transparent;
    color: var(--clr-dark);
    /* border: 2px solid var(--clr-dark); */
}


/* Primay header  */
.logo {
    margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
}

.primary-header {
    /* justify-content: space-evenly; */
    align-items: center;
}

.navigation {
    justify-content: space-between;
    width: 100%;
}

.primary-navigation {
    list-style: none;
}

.primary-navigation a {
    color: var(--clr-gray);
    text-decoration: none;
}

.submenu {
    list-style: none;
}

.secondary-navigation {
    list-style: none;
    width: 62%;
    text-align: center;
}

.secondary-navigation a {
    color: var(--clr-gray);
    text-decoration: none;
}

.mobile-nav-toggle {
    display: none;
}

.registeration-btn {
    background-color: hsl(0, 0%, 98%);
    border: 2px solid hsl(0, 0%, 41%);
    color: hsl(0, 0%, 41%);
    display: inline-block;
    width: 100%;
}

.registeration-btn:hover {
    background-color: var(--clr-dark);
    color: var(--clr-white);
    border: 2px solid var(--clr-dark);
}

@media (max-width: 35rem) {
    .navigation {
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        flex-direction: column;
        background-color: hsl(0, 0%, 98%);
        justify-content: center;
        transform: translateX(100%);
        transition: transform 500ms ease-in-out;
    }

    .navigation[data-visible="true"] {
        transform: translateX(0);
    }

    .primary-navigation {
        flex-direction: column;
    }

    .secondary-navigation {
        flex-direction: column;
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 2000;
        right: 1rem;
        background: transparent;
        background-image: url(./images/icon-menu.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 1.5rem;
        aspect-ratio: 1;
        border: 0;
        cursor: pointer;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(./images/icon-close-menu.svg);
    }
}

@media (min-width: 35em) {
    .primary-navigation {
        padding-inline: clamp(3rem, 7vw, 7rem);
    }
}