/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    /* colors */
    --clr-dark: hsl(0, 0%, 8%);
    --clr-gray: hsl(0, 0%, 41%);
    --clr-white: hsl(0, 0%, 98%);

    /* font-families */
    --ff-serif: "Epilouge", serif;
}


/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* make images easier to work with */
/* img,
picutre {
    max-width: 100%;
    display: block;
} */

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* typography */

.ff-serif {
    font-family: var(--ff-serif);
}

.clr-white { color: var(--clr-white);} 
.clr-gray { color: var(--clr-gray);} 
.clr-dark { color: var(--clr-dark);} 

.uppercase { text-transform: uppercase;}